---
---
/* // @import "main"; */

html { width: 100vw;  margin: 0;  padding: 0; }
body { overflow-x: hidden; max-width: 100vw;  width: 100vw;  margin: 0;  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Alumni Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

h1 {
  font-size: 3.2rem;
}

p {
  font-family: "Ubuntu Sans", sans-serif;
}

.nav-link {
 
}

.nav-link:hover {
  text-decoration: underline;
}

#map {
  width: 100vw; 
  height: 60vh;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  /* opacity: 0.15; */
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}


@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideIn 1s ease-out forwards;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slideInRight 1s ease-out forwards;
}



.card-options {
  width: 100%;
}

@media (min-width: 768px) {
  #map {
    width: 70vw; 
    height: 60vh;
    margin: auto;
    margin-bottom: 100px;
  }

  .card-banner {
    width: 100%!important;
  }

  .card-options {
    .card {
      width: 50%;
    }
    /* width: 50% !important; */
  }
}